:root {
	--background-color: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html {
	font-size: 18px;
}

html, body {
	width: 100%;
	height: 100%;
	height: 100svh;
}

body {
	background-color: var(--background-color);
}

#main-container {
	position: relative;
	margin-inline: auto;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 900px;
	background-color:transparent;
}

.three-renderer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: -1;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.8rem;
  color: #ffffff;
}

nav a {
  margin-left: 1.5rem;
  color: #aaa;
  transition: color 0.3s;
}

nav a:hover {
  color: #fff;
}

main {
  padding: 2rem;
  color: #ffffff;
}

section {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 1rem;
  color: #ffffff;
  font-size: 1.5rem;
}

footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 1rem;
  color: #666;
}
